---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Home Build</title>
	</head>
	<body>
		<h1>Astro Home Build - Home</h1>
		<p>This page loads automatically when saved</p>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/contactus/">Contact Us</a></li>
			<li><a href="/gallery/">Gallery</a></li>
			<li><a href="/blogs/">Blogs</a></li>
		</ul>
	<ul>
		<li>Astro VS Code Extension</li>
		<li>ESLint</li>
		<li>StyleLint</li>
		<li>npm install --save-dev prettier prettier-plugin-astro
		</li>

	</ul>
	</body>
</html>

<style>
	body{background-color: coral;
	color:white;}
</style>