---

---


<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/contactus/">Contact Us</a></li>
        <li><a href="/gallery/">Gallery</a></li>
        <li><a href="/blogs/">Blogs</a></li>
    </ul>
</nav>

<style>

ul{
    display:flex; 
    background-color:lightgreen;
    gap:1.5rem;
    list-style-type: none;
    padding:1.5rem;
}

</style>